:root {
  --bacckground-color-dark: #2f303a;
  --main-background-color: #ffffff;
  --button-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --color-dark: #212121;
  --color-grey: #757575;
  --color-white: #ffffff;
  --icon-cur-color: #afb1b8;
}
body {
  background-color: var(--main-background-color);
  font-family: Roboto, sans-serif;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  /* padding-bottom: 0; */
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*Header styles*/
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header > .container {
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--color-dark);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.header-web {
  color: var(--accent-background-color);
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.nav li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-background-color);
}
.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address-icon-mail {
  fill: currentColor;
  margin-right: 10px;
}
.nav-link.current {
  color: var(--accent-background-color);
}
.nav-link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-background-color);
  border-radius: 2px;
}
.address-mail {
  color: var(--color-grey);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-mail:hover,
.address-mail:focus {
  color: var(--accent-background-color);
}
.address-icon-tel {
  margin-right: 10px;
  fill: currentColor;
}
.address-tel {
  color: var(--color-grey);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-background-color);
}

/* Hero styles*/
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bacckground-color-dark);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  block-size: contain;
}
.hero .container {
  display: flex;
  flex-direction: column;
}
.hero {
  /* background-color: var(--bacckground-color-dark); */
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* margin-top: 200px; */
}
.hero-btn {
  background-color: var(--accent-background-color);
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  align-self: center;
  /* margin-bottom: 200px; */
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-white);
  color: var(--accent-background-color);
}
/*преимущества*/
.feat-icon-spec {
  display: flex;
  justify-content: center;
  background-color: var(--button-background-color);
  /* margin-top: 94px; */
  margin-bottom: 30px;
}
.feature-icon-sputnik {
  margin-top: 25px;
  margin-bottom: 25px;
}
.features-list {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features > .container {
  display: flex;
  justify-content: space-between;
  /* margin-top: 94px;
  margin-bottom: 94px; */
}
.feat-item {
  flex-basis: calc(100% / 4 - 30px);
}

.feature-title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-text {
  color: var(--color-grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
/* Чем мы занимаемся*/
.work {
  padding-bottom: 94px;
}
.work > .container {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 94px; */
}
.work-title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 50px;
}
/* Наша команда*/
.team-block {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #e5e5e5;
}
.team-sec {
  display: flex;
  justify-content: space-between;
}
.team-item {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
}
.team {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-memb {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}
.team-pstn {
  color: var(--color-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}

.social-icon {
  display: inline-flex;
}
.social-icon:not(:last-child) {
  margin-right: 10px;
}
.social-icon-link {
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  color: var(--icon-cur-color);
}
.team-icon {
  fill: currentColor;
}
.team-social-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.social-icon-link:hover,
.social-icon-link:focus {
  color: var(--main-background-color);
  background-color: var(--accent-background-color);
}

/* OUR CLIENTS */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-head {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-icon {
  display: flex;
  justify-content: space-between;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  fill: var(--icon-cur-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-background-color);
  fill: var(--accent-background-color);
}

/*Footer*/
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--bacckground-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--color-white);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}
.web-footer {
  color: var(--accent-background-color);
}

.foot-address-coord {
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.foot-address-mail,
.foot-address-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-address-mail {
  display: block;
  margin-top: 9px;
  margin-bottom: 9px;
}
.foot-address-tel {
  display: block;
}

.subscribe-title {
  color: var(--color-white);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 70px;
  margin-bottom: 20px;
}
.foot-social-links {
  padding-left: 70px;
  display: flex;
}
.foot-social-item {
  margin-right: 10px;
}
.foot-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--color-white);
}
.foot-links:hover,
.foot-links:focus {
  background-color: var(--accent-background-color);
}

/*Портфолио, Кнопки фильтров*/
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-buttons {
  display: flex;
  justify-content: center;
  /* margin-top: 94px; */
  margin-bottom: 50px;
}
.filt-btn:not(:last-child) {
  margin-right: 8px;
}
.item-btn:not(:last-child) {
  margin-right: 8px;
  display: block;
}
.filt-btn {
  background-color: var(--button-background-color);
  color: var(--color-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.filt-btn:hover,
.filt-btn:focus {
  background-color: var(--accent-background-color);
  color: var(--color-white);
}
/*Портфолио, карточки*/
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3);
  justify-content: space-between;
}
.cards-title {
  color: var(--color-dark);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  display: block;
  margin-bottom: 4px;
}
.card-item {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.card-item > a:hover,
.card-item > a:focus {
  display: block;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}

.card-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.cards-text {
  color: var(--color-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  display: block;
}
.cards-description {
  padding: 20px 24px;
}
